<nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../html/index.html">AMDT</a>
    

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse amdt-nav-right"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item " id="nav-feature">
          <a class="nav-link" href="../html/testimonials.html">Testimonials</a>
        </li>
        <li class="nav-item" id="nav-pricing">
          <a class="nav-link" href="../html/aboutthedeveloper.html">About the Developer</a>
        </li>
        <li class="nav-item" id="nav-contact-us">
          <a class="nav-link" href="../html/contact-us.html">Contact Us</a>
        </li>
        <li class="nav-item" id="nav-sign-up">
          <a class="nav-link" href="../html/gallery.html">Gallery</a>
        </li>
      </ul>
    </div>
  </nav>
</nav>
